In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
county_covid = pd.read_csv("../raw-data/County-Covid.csv")

In [3]:
county_covid.head()

,OBJECTID,Countyname,ST_Name,ST_Abbr,ST_ID,FIPS,FatalityRa,Confirmedb,DeathsbyPo,PCTPOVALL_,...,Inpat_Occ,ICU_Occ,Inpat_Cap,Inpat_COV,Inp_nonCOV,ICU_Cap,ICU_COV,ICU_nonCOV,Shape__Area,Shape__Length
0,1,Autauga,Alabama,AL,1,1001,1.536855,12101.84,185.987721,15.2,...,44.019934,92.857143,86.000000,5.285714,32.571429,6.0,2.142857,3.428571,2.209382e+09,246839.865479
1,2,Baldwin,Alabama,AL,1,1003,1.457160,9673.45,140.957572,10.4,...,51.903677,84.375000,439.000000,10.571429,217.285714,32.0,3.857143,23.142857,5.770469e+09,728445.072448
2,3,Barbour,Alabama,AL,1,1005,2.450980,8848.23,216.868420,30.7,...,53.602305,0.000000,49.571429,1.000000,25.571429,5.0,0.000000,0.000000,3.258643e+09,307285.154510
3,4,Bibb,Alabama,AL,1,1007,2.265625,11381.32,257.858000,18.1,...,28.571429,NaN,34.000000,0.000000,9.714286,0.0,0.000000,0.000000,2.310715e+09,227886.963840
4,5,Blount,Alabama,AL,1,1009,2.070457,11220.33,232.312200,13.6,...,33.630952,59.523810,48.000000,0.000000,16.142857,6.0,0.000000,3.571429,2.456058e+09,286306.840721

In [53]:
hosp_beds = pd.read_csv("../raw-data/Hospital-Beds.csv")

In [5]:
hosp_beds.head()

,X,Y,OBJECTID,HOSPITAL_NAME,HOSPITAL_TYPE,HQ_ADDRESS,HQ_ADDRESS1,HQ_CITY,HQ_STATE,HQ_ZIP_CODE,...,CNTY_FIPS,FIPS,NUM_LICENSED_BEDS,NUM_STAFFED_BEDS,NUM_ICU_BEDS,ADULT_ICU_BEDS,PEDI_ICU_BEDS,BED_UTILIZATION,AVG_VENTILATOR_USAGE,Potential_Increase_In_Bed_Capac
0,-112.066157,33.495498,1,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,650 E Indian School Rd,NaN,Phoenix,AZ,85012,...,13.0,4013.0,129.0,129.0,0,0,NaN,NaN,0.0,0
1,-110.965885,32.181263,2,Southern Arizona VA Health Care System,VA Hospital,3601 S 6th Ave,NaN,Tucson,AZ,85723,...,19.0,4019.0,295.0,295.0,2,2,NaN,NaN,2.0,0
2,-119.779742,36.773324,3,VA Central California Health Care System,VA Hospital,2615 E Clinton Ave,NaN,Fresno,CA,93703,...,19.0,6019.0,57.0,57.0,2,2,NaN,NaN,2.0,0
3,-72.957610,41.284400,4,VA Connecticut Healthcare System - West Haven ...,VA Hospital,950 Campbell Ave,NaN,West Haven,CT,6516,...,9.0,9009.0,216.0,216.0,1,1,NaN,NaN,2.0,0
4,-75.606533,39.740206,5,Wilmington VA Medical Center,VA Hospital,1601 Kirkwood Hwy,NaN,Wilmington,DE,19805,...,3.0,10003.0,60.0,60.0,0,0,NaN,NaN,1.0,0

In [6]:
hosp_beds.columns

Index(['X', 'Y', 'OBJECTID', 'HOSPITAL_NAME', 'HOSPITAL_TYPE', 'HQ_ADDRESS',
       'HQ_ADDRESS1', 'HQ_CITY', 'HQ_STATE', 'HQ_ZIP_CODE', 'COUNTY_NAME',
       'STATE_NAME', 'STATE_FIPS', 'CNTY_FIPS', 'FIPS', 'NUM_LICENSED_BEDS',
       'NUM_STAFFED_BEDS', 'NUM_ICU_BEDS', 'ADULT_ICU_BEDS', 'PEDI_ICU_BEDS',
       'BED_UTILIZATION', 'AVG_VENTILATOR_USAGE',
       'Potential_Increase_In_Bed_Capac'],
      dtype='object')

In [7]:
populations = pd.read_excel("../raw-data/County-Populations.xls")

In [8]:
populations.head()

,Area_name,STCOU,POP665209F,POP665209D,POP665209N1,POP665209N2,POP670209F,POP670209D,POP670209N1,POP670209N2,...,POP700209N1,POP700209N2,POP710180F,POP710180D,POP710180N1,POP710180N2,POP710190F,POP710190D,POP710190N1,POP710190N2
0,UNITED STATES,0,0,260236655,0,0,0,1622680,0,0,...,0,0,0,112695416,0,0,0,122796970,0,0
1,ALABAMA,1000,0,4464199,0,0,0,5147,0,0,...,0,0,0,2074115,0,0,0,2155936,0,0
2,"Autauga, AL",1001,0,47936,0,0,0,44,0,0,...,0,0,0,15671,0,0,0,17584,0,0
3,"Baldwin, AL",1003,0,165526,0,0,0,149,0,0,...,0,0,0,41551,0,0,0,52026,0,0
4,"Barbour, AL",1005,0,28849,0,0,0,19,0,0,...,0,0,0,14854,0,0,0,14308,0,0

In [11]:
poverty = pd.read_excel("../raw-data/County-Poverty.xls")
poverty.head()

,Table with column headers in rows 3 and 4,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,2019 Poverty and Median Household Income Estim...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Geographic Information,NaN,NaN,NaN,All Ages,NaN,NaN,NaN,NaN,NaN,...,NaN,Median Household Income,NaN,NaN,Age 0-4,NaN,NaN,NaN,NaN,NaN
2,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,00,000,US,United States,39490096,39248096,39732096,12.3,12.2,12.4,...,16,65712,65594,65830,3457689,3405854,3509524,18.2,17.9,18.5
4,01,000,AL,Alabama,747478,730491,764465,15.6,15.2,16,...,21.6,51771,51179,52363,69236,65296,73176,24.2,22.8,25.6

In [14]:
cols = poverty.iloc[2].values
poverty.columns = cols

In [16]:
poverty = poverty.iloc[3:]
poverty.head()

,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,00,000,US,United States,39490096,39248096,39732096,12.3,12.2,12.4,...,16,65712,65594,65830,3457689,3405854,3509524,18.2,17.9,18.5
4,01,000,AL,Alabama,747478,730491,764465,15.6,15.2,16,...,21.6,51771,51179,52363,69236,65296,73176,24.2,22.8,25.6
5,01,001,AL,Autauga County,6723,5517,7929,12.1,9.9,14.3,...,19.4,58233,52517,63949,.,.,.,.,.,.
6,01,003,AL,Baldwin County,22360,18541,26179,10.1,8.4,11.8,...,17.2,59871,54593,65149,.,.,.,.,.,.
7,01,005,AL,Barbour County,5909,4787,7031,27.1,22,32.2,...,49,35972,31822,40122,.,.,.,.,.,.

In [21]:
poverty["FIPS"] = str(poverty["State FIPS Code"]).strip() + str(poverty["County FIPS Code"]).strip()

In [28]:
poverty["FIPS"] = poverty["State FIPS Code"] + poverty["County FIPS Code"]

In [30]:
poverty["FIPS"] = poverty["FIPS"].apply(lambda x: x[1:] if x[0] == "0" else x)

In [31]:
poverty.head()

,State FIPS Code,County FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,...,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,FIPS
3,00,000,US,United States,39490096,39248096,39732096,12.3,12.2,12.4,...,65712,65594,65830,3457689,3405854,3509524,18.2,17.9,18.5,0000
4,01,000,AL,Alabama,747478,730491,764465,15.6,15.2,16,...,51771,51179,52363,69236,65296,73176,24.2,22.8,25.6,1000
5,01,001,AL,Autauga County,6723,5517,7929,12.1,9.9,14.3,...,58233,52517,63949,.,.,.,.,.,.,1001
6,01,003,AL,Baldwin County,22360,18541,26179,10.1,8.4,11.8,...,59871,54593,65149,.,.,.,.,.,.,1003
7,01,005,AL,Barbour County,5909,4787,7031,27.1,22,32.2,...,35972,31822,40122,.,.,.,.,.,.,1005

In [32]:
poverty = poverty[["FIPS", "Poverty Estimate, All Ages"]]

In [43]:
poverty["FIPS"] = poverty["FIPS"].apply(lambda x: int(x))

<ipython-input-43-913996e58741>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  poverty["FIPS"] = poverty["FIPS"].apply(lambda x: int(x))

In [44]:
test = county_covid.set_index("FIPS").join(poverty.set_index("FIPS"))

In [47]:
test[test["Countyname"] == "Alachua"]

,OBJECTID,Countyname,ST_Name,ST_Abbr,ST_ID,FatalityRa,Confirmedb,DeathsbyPo,PCTPOVALL_,Unemployme,...,ICU_Occ,Inpat_Cap,Inpat_COV,Inp_nonCOV,ICU_Cap,ICU_COV,ICU_nonCOV,Shape__Area,Shape__Length,"Poverty Estimate, All Ages"
FIPS,,,,,,,,,,,,,,,,,,,,,
12001,321,Alachua,Florida,FL,12,1.091261,8941.28,97.572737,21.4,5.1,...,88.523002,1574.0,38.428571,1045.714286,295.0,10.571429,250.571429,3.334786e+09,301911.586741,46916

In [41]:
county_covid["FIPS"].dtypes

dtype('int64')

In [48]:
hosp_beds[hosp_beds["COUNTY_NAME"] == "Alachua"]

,X,Y,OBJECTID,HOSPITAL_NAME,HOSPITAL_TYPE,HQ_ADDRESS,HQ_ADDRESS1,HQ_CITY,HQ_STATE,HQ_ZIP_CODE,...,CNTY_FIPS,FIPS,NUM_LICENSED_BEDS,NUM_STAFFED_BEDS,NUM_ICU_BEDS,ADULT_ICU_BEDS,PEDI_ICU_BEDS,BED_UTILIZATION,AVG_VENTILATOR_USAGE,Potential_Increase_In_Bed_Capac
6,-82.345254,29.636989,7,North Florida/South Georgia Veterans Health Sy...,VA Hospital,1601 Sw Archer Rd,NaN,Gainesville,FL,32608,...,1.0,12001.0,432.0,289.0,2,2,NaN,NaN,2.0,143
693,-82.342674,29.639953,694,UF Health Shands Hospital (FKA Shands at the U...,Short Term Acute Care Hospital,1600 Sw Archer Rd,NaN,Gainesville,FL,32608,...,1.0,12001.0,1014.0,742.0,170,170,118.0,0.779959,29.0,272
694,-82.411572,29.660304,695,North Florida Regional Medical Center,Short Term Acute Care Hospital,6500 W Newberry Rd,NaN,Gainesville,FL,32605,...,1.0,12001.0,432.0,381.0,41,41,12.0,0.839709,17.0,51
4829,-82.343466,29.639833,4830,Select Specialty Hospital - Gainesville,Long Term Acute Care Hospital,1600 Sw Archer Rd,5th Fl,Gainesville,FL,32610,...,1.0,12001.0,48.0,48.0,9,9,0.0,0.851884,4.0,0
6396,-82.341241,29.639410,6397,UF Health Neuromedicine Heart & Vascular Hospital,Short Term Acute Care Hospital,1505 Sw Archer Rd,NaN,Gainesville,FL,32608,...,1.0,12001.0,48.0,48.0,8,8,NaN,NaN,0.0,0
6542,-82.364006,29.632219,6543,UF Health Rehab Hospital,Rehabilitation Hospital,2708 Sw Archer Rd,NaN,Gainesville,FL,32608,...,1.0,12001.0,60.0,40.0,0,0,NaN,0.813265,0.0,20

In [65]:
hosp_beds["FIPS"] = hosp_beds["FIPS"].apply(lambda x: 0 if (x != x) else int(x))

In [66]:
hosp_beds

,X,Y,OBJECTID,HOSPITAL_NAME,HOSPITAL_TYPE,HQ_ADDRESS,HQ_ADDRESS1,HQ_CITY,HQ_STATE,HQ_ZIP_CODE,...,CNTY_FIPS,FIPS,NUM_LICENSED_BEDS,NUM_STAFFED_BEDS,NUM_ICU_BEDS,ADULT_ICU_BEDS,PEDI_ICU_BEDS,BED_UTILIZATION,AVG_VENTILATOR_USAGE,Potential_Increase_In_Bed_Capac
0,-112.066157,33.495498,1,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,650 E Indian School Rd,NaN,Phoenix,AZ,85012,...,13.0,4013,129.0,129.0,0,0,NaN,NaN,0.0,0
1,-110.965885,32.181263,2,Southern Arizona VA Health Care System,VA Hospital,3601 S 6th Ave,NaN,Tucson,AZ,85723,...,19.0,4019,295.0,295.0,2,2,NaN,NaN,2.0,0
2,-119.779742,36.773324,3,VA Central California Health Care System,VA Hospital,2615 E Clinton Ave,NaN,Fresno,CA,93703,...,19.0,6019,57.0,57.0,2,2,NaN,NaN,2.0,0
3,-72.957610,41.284400,4,VA Connecticut Healthcare System - West Haven ...,VA Hospital,950 Campbell Ave,NaN,West Haven,CT,6516,...,9.0,9009,216.0,216.0,1,1,NaN,NaN,2.0,0
4,-75.606533,39.740206,5,Wilmington VA Medical Center,VA Hospital,1601 Kirkwood Hwy,NaN,Wilmington,DE,19805,...,3.0,10003,60.0,60.0,0,0,NaN,NaN,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6632,-110.984489,31.955757,6633,Northwest Medical Center Sahuarita,Short Term Acute Care Hospital,16260 S Rancho Sahuarita Blvd,NaN,Sahuarita,AZ,85629,...,19.0,4019,NaN,NaN,0,0,NaN,NaN,NaN,0
6633,-95.404182,29.803581,6634,The Heights Hospital,Short Term Acute Care Hospital,1917 Ashland St,NaN,Houston,TX,77008,...,201.0,48201,NaN,NaN,0,0,NaN,NaN,NaN,0
6634,-85.765610,38.329353,6635,Cobalt Rehabilitation Hospital Clarksville,Rehabilitation Hospital,2101 Broadway St,NaN,Clarksville,IN,47129,...,19.0,18019,NaN,NaN,0,0,NaN,NaN,NaN,0
6635,-89.708786,45.890217,6636,Marshfield Medical Center - Minocqua,Short Term Acute Care Hospital,9576 WI-70,NaN,Minocqua,WI,54548,...,85.0,55085,NaN,NaN,0,0,NaN,NaN,NaN,0
6636,-83.092812,40.123219,6637,Reunion Rehabilitation Hospital Dublin,Rehabilitation Hospital,3805 Emerald Pkwy,NaN,Dublin,OH,43016,...,49.0,39049,NaN,NaN,0,0,NaN,NaN,NaN,0

In [67]:
hosp_beds.columns

Index(['X', 'Y', 'OBJECTID', 'HOSPITAL_NAME', 'HOSPITAL_TYPE', 'HQ_ADDRESS',
       'HQ_ADDRESS1', 'HQ_CITY', 'HQ_STATE', 'HQ_ZIP_CODE', 'COUNTY_NAME',
       'STATE_NAME', 'STATE_FIPS', 'CNTY_FIPS', 'FIPS', 'NUM_LICENSED_BEDS',
       'NUM_STAFFED_BEDS', 'NUM_ICU_BEDS', 'ADULT_ICU_BEDS', 'PEDI_ICU_BEDS',
       'BED_UTILIZATION', 'AVG_VENTILATOR_USAGE',
       'Potential_Increase_In_Bed_Capac'],
      dtype='object')

In [68]:
hosp = hosp_beds.groupby("FIPS").agg({"NUM_LICENSED_BEDS" : np.sum, "NUM_STAFFED_BEDS" : np.sum, "NUM_ICU_BEDS" : np.sum,
                              "ADULT_ICU_BEDS" : np.sum, "PEDI_ICU_BEDS" : np.sum, "BED_UTILIZATION" : np.average,
                              "AVG_VENTILATOR_USAGE" : np.average, "Potential_Increase_In_Bed_Capac" : np.sum})

In [69]:
hosp

,NUM_LICENSED_BEDS,NUM_STAFFED_BEDS,NUM_ICU_BEDS,ADULT_ICU_BEDS,PEDI_ICU_BEDS,BED_UTILIZATION,AVG_VENTILATOR_USAGE,Potential_Increase_In_Bed_Capac
FIPS,,,,,,,,
0,673.0,673.0,76,76,0.0,NaN,NaN,0
1001,85.0,55.0,6,6,0.0,0.584650,2.000000,30
1003,386.0,332.0,51,51,0.0,0.654580,2.000000,54
1005,74.0,30.0,5,5,0.0,0.378721,2.000000,44
1007,35.0,25.0,4,4,0.0,0.430904,1.000000,10
...,...,...,...,...,...,...,...,...
72125,230.0,230.0,18,18,12.0,0.578570,2.000000,0
72127,2217.0,2217.0,260,260,52.0,NaN,1.714286,0
72141,2.0,2.0,1,1,0.0,0.268493,0.000000,0
72145,90.0,90.0,6,6,0.0,0.470715,2.000000,0
72153,84.0,84.0,11,11,0.0,0.484507,2.000000,0

In [70]:
test2 = test.join(hosp)

In [71]:
test2

,OBJECTID,Countyname,ST_Name,ST_Abbr,ST_ID,FatalityRa,Confirmedb,DeathsbyPo,PCTPOVALL_,Unemployme,...,Shape__Length,"Poverty Estimate, All Ages",NUM_LICENSED_BEDS,NUM_STAFFED_BEDS,NUM_ICU_BEDS,ADULT_ICU_BEDS,PEDI_ICU_BEDS,BED_UTILIZATION,AVG_VENTILATOR_USAGE,Potential_Increase_In_Bed_Capac
FIPS,,,,,,,,,,,,,,,,,,,,,
0,3328,,,,0,0.000000,0.0,0.0,0.0,0.0,...,NaN,39490096,673.0,673.0,76.0,76.0,0.0,NaN,NaN,0.0
0,3329,,,,0,0.000000,0.0,0.0,0.0,0.0,...,NaN,39490096,673.0,673.0,76.0,76.0,0.0,NaN,NaN,0.0
0,3330,,,,0,0.000000,0.0,0.0,0.0,0.0,...,NaN,39490096,673.0,673.0,76.0,76.0,0.0,NaN,NaN,0.0
0,3331,,,,0,0.000000,0.0,0.0,0.0,0.0,...,NaN,39490096,673.0,673.0,76.0,76.0,0.0,NaN,NaN,0.0
0,3332,,,,0,0.000000,0.0,0.0,0.0,0.0,...,NaN,39490096,673.0,673.0,76.0,76.0,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90051,3318,Unassigned,Virginia,,0,0.000000,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90053,3320,Unassigned,Washington,,0,0.264901,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90054,3322,Unassigned,West Virginia,,0,0.000000,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90055,3324,Unassigned,Wisconsin,,0,0.000000,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90056,3326,Unassigned,Wyoming,,0,0.000000,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
test2.columns

Index(['OBJECTID', 'Countyname', 'ST_Name', 'ST_Abbr', 'ST_ID', 'FatalityRa',
       'Confirmedb', 'DeathsbyPo', 'PCTPOVALL_', 'Unemployme',
       ...
       'Shape__Length', 'Poverty Estimate, All Ages', 'NUM_LICENSED_BEDS',
       'NUM_STAFFED_BEDS', 'NUM_ICU_BEDS', 'ADULT_ICU_BEDS', 'PEDI_ICU_BEDS',
       'BED_UTILIZATION', 'AVG_VENTILATOR_USAGE',
       'Potential_Increase_In_Bed_Capac'],
      dtype='object', length=101)

In [73]:
populations["STCOU"].dtype

dtype('int64')

In [74]:
test2.index.dtype

dtype('int64')

In [76]:
populations.rename(columns={"POP665209D" : "Population"}, inplace=True)

In [78]:
populations.head()

,Area_name,STCOU,POP665209F,Population,POP665209N1,POP665209N2,POP670209F,POP670209D,POP670209N1,POP670209N2,...,POP700209N1,POP700209N2,POP710180F,POP710180D,POP710180N1,POP710180N2,POP710190F,POP710190D,POP710190N1,POP710190N2
0,UNITED STATES,0,0,260236655,0,0,0,1622680,0,0,...,0,0,0,112695416,0,0,0,122796970,0,0
1,ALABAMA,1000,0,4464199,0,0,0,5147,0,0,...,0,0,0,2074115,0,0,0,2155936,0,0
2,"Autauga, AL",1001,0,47936,0,0,0,44,0,0,...,0,0,0,15671,0,0,0,17584,0,0
3,"Baldwin, AL",1003,0,165526,0,0,0,149,0,0,...,0,0,0,41551,0,0,0,52026,0,0
4,"Barbour, AL",1005,0,28849,0,0,0,19,0,0,...,0,0,0,14854,0,0,0,14308,0,0

In [79]:
populations["STCOU"]

0           0
1        1000
2        1001
3        1003
4        1005
        ...
3193    56037
3194    56039
3195    56041
3196    56043
3197    56045
Name: STCOU, Length: 3198, dtype: int64

In [80]:
pops = populations[["STCOU", "Population"]]

In [83]:
pops.rename(columns={"STCOU" : "FIPS"}, inplace=True)

/Users/dallas/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [84]:
combined = test2.join(pops.set_index("FIPS"))

In [85]:
combined

,OBJECTID,Countyname,ST_Name,ST_Abbr,ST_ID,FatalityRa,Confirmedb,DeathsbyPo,PCTPOVALL_,Unemployme,...,"Poverty Estimate, All Ages",NUM_LICENSED_BEDS,NUM_STAFFED_BEDS,NUM_ICU_BEDS,ADULT_ICU_BEDS,PEDI_ICU_BEDS,BED_UTILIZATION,AVG_VENTILATOR_USAGE,Potential_Increase_In_Bed_Capac,Population
FIPS,,,,,,,,,,,,,,,,,,,,,
0,3328,,,,0,0.000000,0.0,0.0,0.0,0.0,...,39490096,673.0,673.0,76.0,76.0,0.0,NaN,NaN,0.0,260236655.0
0,3329,,,,0,0.000000,0.0,0.0,0.0,0.0,...,39490096,673.0,673.0,76.0,76.0,0.0,NaN,NaN,0.0,260236655.0
0,3330,,,,0,0.000000,0.0,0.0,0.0,0.0,...,39490096,673.0,673.0,76.0,76.0,0.0,NaN,NaN,0.0,260236655.0
0,3331,,,,0,0.000000,0.0,0.0,0.0,0.0,...,39490096,673.0,673.0,76.0,76.0,0.0,NaN,NaN,0.0,260236655.0
0,3332,,,,0,0.000000,0.0,0.0,0.0,0.0,...,39490096,673.0,673.0,76.0,76.0,0.0,NaN,NaN,0.0,260236655.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90051,3318,Unassigned,Virginia,,0,0.000000,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90053,3320,Unassigned,Washington,,0,0.264901,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90054,3322,Unassigned,West Virginia,,0,0.000000,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90055,3324,Unassigned,Wisconsin,,0,0.000000,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90056,3326,Unassigned,Wyoming,,0,0.000000,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
len(combined.columns)

102

In [88]:
combined[combined["Countyname"] == "Alachua"]

,OBJECTID,Countyname,ST_Name,ST_Abbr,ST_ID,FatalityRa,Confirmedb,DeathsbyPo,PCTPOVALL_,Unemployme,...,"Poverty Estimate, All Ages",NUM_LICENSED_BEDS,NUM_STAFFED_BEDS,NUM_ICU_BEDS,ADULT_ICU_BEDS,PEDI_ICU_BEDS,BED_UTILIZATION,AVG_VENTILATOR_USAGE,Potential_Increase_In_Bed_Capac,Population
FIPS,,,,,,,,,,,,,,,,,,,,,
12001,321,Alachua,Florida,FL,12,1.091261,8941.28,97.572737,21.4,5.1,...,46916,2034.0,1548.0,230.0,230.0,130.0,NaN,8.666667,486.0,211183.0

In [90]:
combined.to_csv("../clean-data/combined-counties.csv", index=True)